@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #101010 !important;
}

.menu-active {
    color: #cf2cff;
    // border-bottom: 3px solid;
    // border-bottom-color: #cf2cff;"
}




#topbar {
    background-color: #070006;
    border-bottom: 1px solid #cf2cff;
    height: 80px;
    width: 100%;
}

.topbar-title {
    font-size: 30px;
    line-height: 80px;
    margin: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
}

.topbar-items {
    float: right;
    text-decoration: none !important;
    margin-right: 3rem;
}

.topbar-items li {
    text-decoration: none !important;
    font-size: 18px;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding-right: 1rem;
}

.topbar-items a:hover {
    color: #cf2cff;
}

#main-content {
    text-align: center;
}

.subtitle {
    font-size: 16px;
    color: #e52aff;
    font-family: "Courier New", sans-serif;
}

#introduction p {
    margin-top: 0.8rem;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
}

#mycandies-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    height: 280px;
    width: 280px;
    user-input: none;
}

#shop-now-btn {
    border: 1px solid #ffffff;
    padding: 1rem;
    background-color: #101010;
    border-radius: 32px;
    font-size: 24px;
}

#shop-now-btn:hover {
    background-color: #e829ff;
    border-color: #e829ff;
}

#produtos h1, #contact h1, #news h1, #about h1{
    margin: 1rem auto 2rem auto; // margin: top=1rem right=auto bottom=2rem left=auto;
    text-align: center;
}


@media (max-width: 600px) {
    .topbar-title {
        text-align: center;
    }

}